.branding-branding {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.branding-text {
  color: rgba(18, 40, 33, 1);
  font-size: 24px;
  line-height: 36px;
}
.branding-icon {
  width: 7px;
  height: 7px;
}
.branding-text1 {
  color: rgba(18, 40, 33, 1);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
@media(max-width: 991px) {
  .branding-icon {
    display: none;
  }
  .branding-text1 {
    display: none;
  }
}

.footer-footer {
  width: 100%;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fourunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: space-between;
}
.footer-information {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-content {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-header {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-contact-list {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.footer-contact {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-image {
  width: 24px;
  height: 18px;
  object-fit: cover;
}
.footer-text {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  font-family: Lato;
  line-height: 18px;
}
.footer-contact1 {
  gap: 11px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.footer-image1 {
  width: 18px;
  height: 24px;
  object-fit: cover;
  margin-left: 3px;
  margin-right: 3px;
}
.footer-text1 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 18px;
  font-family: Lato;
  line-height: 18px;
}
.footer-copyright {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 14px;
  font-family: Lato;
  line-height: 21px;
}
@media(max-width: 991px) {
  .footer-footer {
    gap: var(--dl-space-space-threeunits);
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .footer-content {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .footer-header {
    gap: var(--dl-space-space-unit);
  }
  .footer-copyright {
    display: none;
  }
}

.home-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.home-navbar {
  width: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
}
.home-navbar-interactive {
  width: 100%;
  display: flex;
  position: relative;
  max-width: 1324px;
  align-items: center;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text {
  color: rgb(18, 40, 33);
  font-size: 24px;
  line-height: 36px;
}
.home-icon {
  width: 7px;
  height: 7px;
}
.home-desktop-menu {
  display: flex;
}
.home-links {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-button {
  color: rgb(18, 40, 33);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.home-navlink {
  text-decoration: none;
}
.home-button1 {
  color: rgb(18, 40, 33);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: 0px;
  border-radius: 0px;
  padding-right: 0px;
  padding-bottom: var(--dl-space-space-halfunit);
  background-color: transparent;
}
.home-link {
  text-decoration: none;
}
.home-link1 {
  text-decoration: none;
}
.home-link2 {
  text-decoration: none;
}
.home-link3 {
  text-decoration: none;
}
.home-burger-menu {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
.home-hamburger {
  width: 100px;
  object-fit: cover;
}
.home-mobile-menu {
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  display: flex;
  z-index: 100;
  position: fixed;
  transform: translateX(100%);
  transition: 0.5s;
  padding-top: var(--dl-space-space-threeunits);
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  background-color: #fff;
}
.home-top {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home-branding1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-text01 {
  color: rgba(18, 40, 33, 1);
  font-size: 24px;
  line-height: 36px;
}
.home-icon02 {
  width: 7px;
  height: 7px;
}
.home-text02 {
  color: rgba(18, 40, 33, 1);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
}
.home-menu-close {
  display: flex;
  align-items: center;
  justify-content: center;
}
.home-icon04 {
  width: 34px;
  height: 34px;
}
.home-links1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home-button2 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.home-button3 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.home-button4 {
  color: var(--dl-color-gray-white);
  font-size: 18px;
  font-family: Lato;
  line-height: 27px;
  border-radius: 28px;
  background-color: rgb(18, 40, 33);
}
.home-social-bar {
  width: 100%;
  display: flex;
  padding: var(--dl-space-space-threeunits);
  margin-top: auto;
  justify-content: flex-start;
}
.home-icon06 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon08 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon10 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon12 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
  margin-right: var(--dl-space-space-twounits);
}
.home-icon14 {
  width: var(--dl-size-size-xsmall);
  height: var(--dl-size-size-xsmall);
}
.home-hero {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  height: 700px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home-content {
  gap: var(--dl-space-space-unit);
  width: 404px;
  display: flex;
  position: relative;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-end;
}
.home-title {
  color: rgb(18, 40, 33);
  font-size: 72px;
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
  line-height: 92px;
}
.home-image {
  left: 0px;
  width: 240px;
  bottom: -410px;
  height: 330px;
  position: absolute;
  object-fit: cover;
}
.home-image01 {
  width: 720px;
  height: 700px;
  display: flex;
  overflow-x: hidden;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
  background-color: rgba(250, 228, 142, 1);
}
.home-image02 {
  width: 100%;
  height: 712px;
  object-fit: cover;
}
.home-improve {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-heading {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-tabs {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-switches {
  gap: var(--dl-space-space-fiveunits);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-content1 {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: flex;
  overflow-x: hidden;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home-details {
  gap: var(--dl-space-space-threeunits);
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-header {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text05 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  font-style: normal;
  font-weight: 500;
}
.home-description {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text06 {
  color: rgb(18, 40, 33);
  font-size: 16px;
  line-height: 24px;
}
.home-image03 {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-image04 {
  flex: 1;
  height: 640px;
  object-fit: cover;
}
.home-services {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 588px;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-text09 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 56px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.home-cards {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 453px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-gallery-card {
  width: 268px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image05 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text10 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-gallery-card1 {
  width: 268px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image06 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text11 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-gallery-card2 {
  width: 268px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image07 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text12 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-gallery-card3 {
  width: 268px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image08 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text13 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-services1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-cards1 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  height: 453px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
}
.home-gallery-card4 {
  width: 268px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image09 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text14 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-gallery-card5 {
  width: 268px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image10 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text15 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-gallery-card6 {
  width: 268px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image11 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text16 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-gallery-card7 {
  width: 268px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.home-image12 {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.home-text17 {
  align-self: flex-start;
  margin-top: var(--dl-space-space-halfunit);
  font-weight: 600;
  margin-bottom: var(--dl-space-space-halfunit);
}
.home-testimonials {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-container2 {
  display: contents;
}
.home-services2 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: 120px;
  align-items: flex-start;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 130px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-heading1 {
  gap: var(--dl-space-space-unit);
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text18 {
  color: rgb(18, 40, 33);
  width: 100%;
  font-size: 56px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.home-sections {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  flex-direction: column;
  justify-content: flex-start;
}
.home-row {
  gap: 140px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.home-section {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text19 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.home-description1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text20 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: "Lato";
  line-height: 24px;
}
.home-text22 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text24 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text26 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text28 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text30 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text32 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text34 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text36 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text38 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-section1 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text42 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.home-description2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text43 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: "Lato";
  line-height: 24px;
}
.home-row1 {
  gap: 140px;
  display: flex;
  align-items: stretch;
  flex-direction: row;
  justify-content: flex-start;
}
.home-section2 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text57 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.home-description3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text58 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: "Lato";
  line-height: 24px;
}
.home-text60 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text62 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text64 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text66 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text68 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text70 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text72 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text76 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text78 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-text80 {
  color: #122821;
  font-family: "Lato";
  line-height: 24px;
}
.home-section3 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  max-width: 500px;
  align-items: flex-start;
  flex-direction: column;
}
.home-header4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text84 {
  color: rgb(18, 40, 33);
  font-size: 36px;
  max-width: 1000px;
  font-style: normal;
  font-weight: 500;
}
.home-description4 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home-text85 {
  color: rgb(18, 40, 33);
  max-width: 1000px;
  font-family: "Lato";
  line-height: 24px;
}
.home-galleries {
  width: 100%;
  height: 1106px;
  display: flex;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-text86 {
  color: rgb(18, 40, 33);
  width: 271px;
  height: 105px;
  font-size: 56px;
  max-width: 1000px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home-gallery-desktop {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-column {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image13 {
  height: 700px;
  object-fit: cover;
}
.home-column1 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-row2 {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home-yellow {
  flex: 1;
  height: 330px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #FAE48E;
}
.home-image14 {
  height: 330px;
  object-fit: cover;
}
.home-row3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-image15 {
  width: 435px;
  object-fit: cover;
}
.home-image16 {
  height: 400px;
  object-fit: cover;
}
.home-gallery-mobile {
  gap: var(--dl-space-space-twounits);
  width: 100%;
  display: none;
  max-width: 1280px;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.home-column2 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-image17 {
  height: 700px;
  object-fit: cover;
}
.home-image18 {
  width: 435px;
  object-fit: cover;
}
.home-column3 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home-yellow1 {
  flex: 1;
  height: 330px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
  background-color: #FAE48E;
}
.home-image19 {
  height: 330px;
  object-fit: cover;
}
.home-row4 {
  gap: var(--dl-space-space-twounits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home-image20 {
  height: 400px;
  object-fit: cover;
}
.home-mission {
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-sixunits);
  align-items: flex-end;
  padding-left: var(--dl-space-space-oneandhalfunits);
  margin-bottom: 120px;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: column;
}
.home-container4 {
  display: contents;
}
@media(max-width: 991px) {
  .home-navbar-interactive {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-icon {
    display: none;
  }
  .home-icon02 {
    display: none;
  }
  .home-text02 {
    display: none;
  }
  .home-hero {
    gap: var(--dl-space-space-threeunits);
    height: auto;
    align-items: flex-start;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
  }
  .home-image {
    display: none;
  }
  .home-image01 {
    width: 100%;
    height: auto;
    position: static;
    align-items: flex-end;
    aspect-ratio: 1;
    justify-content: flex-start;
  }
  .home-improve {
    gap: var(--dl-space-space-fiveunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-content1 {
    flex-direction: column;
  }
  .home-image03 {
    width: 100%;
  }
  .home-image04 {
    height: auto;
  }
  .home-services {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .home-text09 {
    max-width: 500px;
    text-align: center;
  }
  .home-cards {
    flex-direction: column;
  }
  .home-services1 {
    align-items: center;
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    justify-content: center;
  }
  .home-cards1 {
    flex-direction: column;
  }
  .home-testimonials {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home-services2 {
    margin-top: var(--dl-space-space-fourunits);
    padding-left: 20px;
    margin-bottom: var(--dl-space-space-fourunits);
    padding-right: 20px;
  }
  .home-text18 {
    max-width: 500px;
    text-align: center;
  }
  .home-row {
    gap: var(--dl-space-space-fourunits);
  }
  .home-row1 {
    gap: var(--dl-space-space-fourunits);
  }
  .home-text86 {
    max-width: 500px;
    text-align: center;
  }
  .home-gallery-desktop {
    display: none;
  }
  .home-gallery-mobile {
    gap: var(--dl-space-space-halfunit);
    display: flex;
  }
  .home-column2 {
    gap: var(--dl-space-space-halfunit);
    align-items: flex-end;
  }
  .home-image17 {
    width: 280px;
    height: 400px;
  }
  .home-image18 {
    width: 240px;
  }
  .home-column3 {
    align-items: flex-start;
  }
  .home-yellow1 {
    flex: 0 0 auto;
    width: 220px;
    height: 300px;
  }
  .home-image19 {
    width: 260px;
    height: 170px;
  }
  .home-image20 {
    width: 220px;
    height: 290px;
  }
  .home-mission {
    margin-top: var(--dl-space-space-threeunits);
    margin-bottom: var(--dl-space-space-threeunits);
  }
}
@media(max-width: 767px) {
  .home-desktop-menu {
    display: none;
  }
  .home-burger-menu {
    width: 40px;
    height: 40px;
    display: flex;
    aspect-ratio: 1;
    border-radius: var(--dl-radius-radius-round);
    justify-content: center;
    background-color: #E6F9E0;
  }
  .home-hamburger {
    width: 16px;
    height: 8px;
  }
  .home-button2 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .home-button3 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .home-button4 {
    color: rgb(18, 40, 33);
    padding-left: 0px;
    background-color: transparent;
  }
  .home-social-bar {
    padding-left: var(--dl-space-space-twounits);
    padding-right: var(--dl-space-space-twounits);
  }
  .home-title {
    font-size: 36px;
    line-height: 46px;
  }
  .home-tabs {
    gap: var(--dl-space-space-threeunits);
  }
  .home-switches {
    gap: var(--dl-space-space-twounits);
    flex-direction: column;
  }
  .home-content1 {
    margin-top: 0px;
  }
  .home-details {
    gap: var(--dl-space-space-threeunits);
  }
  .home-gallery-card {
    flex-direction: column;
  }
  .home-gallery-card1 {
    flex-direction: column;
  }
  .home-gallery-card2 {
    flex-direction: column;
  }
  .home-gallery-card3 {
    flex-direction: column;
  }
  .home-gallery-card4 {
    flex-direction: column;
  }
  .home-gallery-card5 {
    flex-direction: column;
  }
  .home-gallery-card6 {
    flex-direction: column;
  }
  .home-gallery-card7 {
    flex-direction: column;
  }
}
@media(max-width: 479px) {
  .home-social-bar {
    padding-top: var(--dl-space-space-twounits);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-twounits);
  }
  .home-image05 {
    height: 10rem;
  }
  .home-image06 {
    height: 10rem;
  }
  .home-image07 {
    height: 10rem;
  }
  .home-image08 {
    height: 10rem;
  }
  .home-image09 {
    height: 10rem;
  }
  .home-image10 {
    height: 10rem;
  }
  .home-image11 {
    height: 10rem;
  }
  .home-image12 {
    height: 10rem;
  }
  .home-services2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-sections {
    gap: var(--dl-space-space-threeunits);
  }
  .home-row {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-section {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text19 {
    font-size: 24px;
  }
  .home-section1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text42 {
    font-size: 24px;
  }
  .home-row1 {
    gap: var(--dl-space-space-threeunits);
    flex-direction: column;
  }
  .home-section2 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text57 {
    font-size: 24px;
  }
  .home-section3 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home-text84 {
    font-size: 24px;
  }
  .home-image17 {
    width: 140px;
    height: 200px;
  }
  .home-image18 {
    width: 120px;
  }
  .home-yellow1 {
    width: 110px;
    height: 150px;
  }
  .home-image19 {
    width: 130px;
    height: 85px;
  }
  .home-image20 {
    width: 110px;
    height: 145px;
  }
}
